<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO3v8v1auPl3cPmIUqwEs_n1_KCIrW7Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>253628241696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.am.union</string>
	<key>PROJECT_ID</key>
	<string>union-1b1f0</string>
	<key>STORAGE_BUCKET</key>
	<string>union-1b1f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253628241696:ios:e20f7688f506e03cd8e945</string>
</dict>
</plist>